<form (ngSubmit)="agregar()">
    <input 
    type="text" placeholder="Ingresa el Likn a la Reunion" 
    name="name" class="form-control" 
    [(ngModel)]="item.name">
    <br>
    <input 
    type="text" placeholder="Ingresa la Fecha" 
    name="name2" class="form-control" 
    [(ngModel)]="item.name2">
    <br>
    <input 
    type="text" placeholder="Ingresa la Hora" 
    name="name2" class="form-control" 
    [(ngModel)]="item.name3">
    <br>
    <input 
    type="text" placeholder="Ingresa comentarios Extra" 
    name="name2" class="form-control" 
    [(ngModel)]="item.name4">
    <button class="btn btn-warning mt-3" type="submit">Agregar</button>
</form>
