<nav class="navbar navbar-light bg-light static-top">
  <div class="container"><img src="../assets/uni.jpg" style="width: 240px; height: 48px;" title="Sistema de transferencia de datos y almacenamiento" class="img-responsive">
    <a class="navbar-brand" href="#">Sistema de Información para Reuniones Virtuales de la UTXJ</a>
  </div>
</nav>

<img src="assets/u2.jpeg" style="width: 1340px; height: 500px;" align="center" title="Universidad Tecnólogica de Xicotepec de Juárez" class="img-responsive">
  <br><br>

  <div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
    <div class="card-header">Arquitectura de Software 7A DGS</div>
    <div class="card-body">
      <h4 class="card-title"></h4>
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <app-lista></app-lista>
          </div>
          <div class="col-md-6">
            <app-lista-add></app-lista-add>
          </div>
        </div>
      </div>      
    </div>
  </div>

<br><br>
<img src="assets/u1.PNG" style="width: 1340px; height: 500px;" align="center" title="Universidad Tecnólogica de Xicotepec de Juárez" class="img-responsive">
  <br><br>

  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Bienvenido</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="assets/Images2/g1.jpg" alt="">
            <h5></h5>
            <p class="font-weight-light mb-0"></p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="assets/p1.jpg" alt="">
            <h5>ITIC. Iván Eduardo Garcia Quintero</h5>
            <p class="font-weight-light mb-0">Profesor de asignatura</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="assets/Images2/g1.jpg" alt="">
            <h5></h5>
            <p class="font-weight-light mb-0"></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr color="green" size=1 width="1050">
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">

        <p class="text-muted small mb-4 mb-lg-0">&copy; Trabajo elaborado por alumnos de 7mo "A".</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>